body{
	min-height: 1100px;
	border: 30px solid #eff6a6;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;

	gap: 20px;
	flex-wrap: wrap;
}
#img-1{
	display: flex;
	justify-content: center ;
	align-items: flex-start;



}
.CP{
	height: 235px;
	width: 235px;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.box{
	
	border-radius: 25px;
	height: 500px;
	width: 250px;
	background-color:#eff6a6;
	font-size: 20pt;
	font-family: monospace;
	
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
}